
<div class="services">
    <h2>academic services</h2>
    <ul>
        <li>Reviewer for SIGIR (21, 22, 23, 24), RecSys (21, 22, 23, 24), ECIR (19, 20, 21, 22, 23), CIKM (19, 21, 22, 23), TheWebConf (20,23).</li>
        <li>Organizer at Search-Oriented Conversatinal AI workshop (<a href="https://scai.info/">SCAI</a>) at <a href="https://sigir.org/sigir2022/">SIGIR'22</a>.</li>
        <!-- <li>Organizer at the Delft eXplainable AI Summer School 2022 (<a href="https://xaiss.eu/">XAISS</a>).</li> -->
    </ul>
</div>
  