<div class="presentations">
  <h2>recent presentations</h2>

  <!-- <a href="https://docs.google.com/presentation/d/1xctVZCJu4BArkSDslYwor6GhMzHrdb8x/edit?slide=id.p1#slide=id.p1">Slides</a> for our ECIR'25 paper on audiobook descriptive shelves.
  <iframe src="https://docs.google.com/presentation/d/1xctVZCJu4BArkSDslYwor6GhMzHrdb8x/embed?start=false&loop=false&delayms=5000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  <br> -->

  <a href="https://docs.google.com/presentation/d/1sBOvsP3Y0iZIkcD1A-XLRFyZ7ATZhE7SujAfOEWXS9s/edit?usp=sharing">Slides</a> for talk on generative search and recs at Spotify.
  <iframe src="https://docs.google.com/presentation/d/1sBOvsP3Y0iZIkcD1A-XLRFyZ7ATZhE7SujAfOEWXS9s/embed?start=false&loop=false&delayms=5000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  <br>

  <!-- <a href="https://docs.google.com/presentation/d/e/2PACX-1vTIL8bd4xigA8_Jrc6tp8Ma0TEcsN6MEw92vUVZfA-y_H1AjywDw6tzAhD2lIkS9Nqmec_W9SDaTGhr/embed?start=false&loop=false&delayms=5000">Slides</a> for our RecSys'24 paper on generative search and recs. 
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTIL8bd4xigA8_Jrc6tp8Ma0TEcsN6MEw92vUVZfA-y_H1AjywDw6tzAhD2lIkS9Nqmec_W9SDaTGhr/embed?start=false&loop=false&delayms=5000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  <br> -->
  <!--  <a href="https://docs.google.com/presentation/d/1zKfixPI2EQwuNBDIRNJwaLF0DTcV17AHIEMzhNkjKbo/edit?usp=sharing">Slides</a> for our WebConf'23 paper on retrievability of entities.  -->
  <!-- <a href="https://www.youtube.com/watch?v=RaClf9QBg6w">video</a> 🎬. -->
  <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSUCKxrShmoCpb0yc4NGHacl200Sz7lv5mapO5lEmmzqOhnXOIHsGUHmLEKlb-qTjoIkO4Blr8Szh8u/embed?start=false&loop=false&delayms=60000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
  <!-- <br> -->
    <!-- <a href="https://docs.google.com/presentation/d/1UEB-9h04eoJHn2_AyCIVzLf6q_mm5sED_4FHxiGI0jI/edit?usp=sharing">Slides</a> for our <a href="https://ecir2022.org/"> ECIR </a> 2022 paper on query variations. -->
     <!-- <a href="https://www.youtube.com/watch?v=dG-94BhoO8Y">video</a> 🎬. -->
    <!-- <iframe src="https://docs.google.com/presentation/d/1UEB-9h04eoJHn2_AyCIVzLf6q_mm5sED_4FHxiGI0jI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
    <!-- <a href="https://docs.google.com/presentation/d/1yymZAt_6G5gIjc7yBHUTjNfrmmlIhi2GHGokTx2-awY/edit?usp=sharing">Slides</a> for the <a href="https://samoa.dcs.gla.ac.uk/events/viewtalk.jsp?id=17788"> Glasgow IR seminar</a> on 10 May 2021: <a href="https://www.youtube.com/watch?v=5b2RCfDPqy8">video</a> 🎬. -->
    <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSmX3_8ZRE5zvLCZDu74N48jS8Fm3l57wW1DU2i3ISg4d9LDlo4EoHinLv-1HLMfp9jsvAgPlKLSOxs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
  </div>
  
    