<div class="presentations">
    <h2>presentations</h2>
    <a href="https://docs.google.com/presentation/d/1UEB-9h04eoJHn2_AyCIVzLf6q_mm5sED_4FHxiGI0jI/edit?usp=sharing">Slides</a> for our <a href="https://ecir2022.org/"> ECIR </a> 2022 paper on query variations. <a href="https://www.youtube.com/watch?v=dG-94BhoO8Y">video</a> 🎬.
    <iframe src="https://docs.google.com/presentation/d/1UEB-9h04eoJHn2_AyCIVzLf6q_mm5sED_4FHxiGI0jI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <br>
    <a href="https://docs.google.com/presentation/d/1yymZAt_6G5gIjc7yBHUTjNfrmmlIhi2GHGokTx2-awY/edit?usp=sharing">Slides</a> for the <a href="https://samoa.dcs.gla.ac.uk/events/viewtalk.jsp?id=17788"> Glasgow IR seminar</a> on 10 May 2021: <a href="https://www.youtube.com/watch?v=5b2RCfDPqy8">video</a> 🎬.
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSmX3_8ZRE5zvLCZDu74N48jS8Fm3l57wW1DU2i3ISg4d9LDlo4EoHinLv-1HLMfp9jsvAgPlKLSOxs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  
  